@model AdobeScheduler.Models.ViewObject
@{
     
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/jquery.pnotify.js"></script>
    @Scripts.Render("~/app")
    @Styles.Render("~/content/css")
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/fullcalendar.print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Aguafina+Script" />

</head>
<!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
  <body class=""> 
  <!--<![endif]-->
    
                <ul class="nav pull-right">
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> @Context.User.Identity.Name
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="logout">Logout</a></li>
                        </ul>
                    </li>
                    
                </ul>

    
   

<div id='content' data-userId="@Context.User.Identity.Name">
     @RenderBody()
</div>

    
    <script src="~/SignalR/Hubs"></script>
</body>
</html>
